.rect{

height: 75px;
width:40px;
margin-left:-35px;

}
.logo{
width: 120px;
padding-left: 20px;

}


#apropos{
    padding-left: 50px;
}

#services
{
    padding-left: 30px;   
}
#Ingennierie
{
    padding-left: 30px;   
}
#contact
{
    padding-left: 30px;   
}
#QHSE
{
    padding-left: 30px;   
}
#projet
{
    padding-left: 30px;   
}
.tel{
    padding-right: 50px;
}
.contact{
    text-align: justify;
}

nav {
    width: 100%;
    height: 75px;
   
}

.rubrique-title {
    margin-left:30px;
    
}
.tel {
    position: relative;
    width: 150px;
    height: 100px;
}

.icon-tel {
    position: absolute;
    top: 15%;
    left:50%;
    font-size: 20px;
}²
    .icon-tel img {
        max-width: 21px;
    }
    


.txt-tel {
    position: absolute;
    top: 60%;
    left:29%;
    font-family: cursive;
    font-weight: bolder;
}

